ex/ 
*.exe
debug/
*.rdl*
packages/
.vs/
*.dll
RDLCForm/SqlServerTypes/x64/SqlServerSpatial140.dll
RDLCForm/SqlServerTypes/x64/msvcr120.dll
RDLCForm/SqlServerTypes/x86/SqlServerSpatial140.dll
RDLCForm/SqlServerTypes/x86/msvcr120.dll

PeriodicTable/PeriodicTable.sln
 PeriodicTable/PeriodicTable/App.config
 PeriodicTable/PeriodicTable/ChemicalProperty.cs
 PeriodicTable/PeriodicTable/CountryOfDiscovery.cs
 PeriodicTable/PeriodicTable/Element.cs
 PeriodicTable/PeriodicTable/ElementCell.cs
 PeriodicTable/PeriodicTable/ElementProperty.cs
 PeriodicTable/PeriodicTable/Form1.Designer.cs
 PeriodicTable/PeriodicTable/Form1.cs
 PeriodicTable/PeriodicTable/Form1.resx
 PeriodicTable/PeriodicTable/Form2.Designer.cs
 PeriodicTable/PeriodicTable/Form2.cs
 PeriodicTable/PeriodicTable/Form2.resx
 PeriodicTable/PeriodicTable/MainTable.cs
 PeriodicTable/PeriodicTable/MainTableDataSource.cs
 PeriodicTable/PeriodicTable/NaturalOccurrence.cs
 PeriodicTable/PeriodicTable/PeriodicTable.csproj
 PeriodicTable/PeriodicTable/PeriodicTableReportGenerator.cs
 PeriodicTable/PeriodicTable/Program.cs
 PeriodicTable/PeriodicTable/Properties/AssemblyInfo.cs
 PeriodicTable/PeriodicTable/Properties/DataSources/Element.datasource
 PeriodicTable/PeriodicTable/Properties/Resources.Designer.cs
 PeriodicTable/PeriodicTable/Properties/Resources.resx
 PeriodicTable/PeriodicTable/Properties/Settings.Designer.cs
 PeriodicTable/PeriodicTable/Properties/Settings.settings
 PeriodicTable/PeriodicTable/ReflectOn.cs
 PeriodicTable/PeriodicTable/Report/Rdl/BackgroundImage.cs
 PeriodicTable/PeriodicTable/Report/Rdl/BackgroundRepeat.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Body.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Border.cs
 PeriodicTable/PeriodicTable/Report/Rdl/BorderStyle.cs
 PeriodicTable/PeriodicTable/Report/Rdl/BottomBorder.cs
 PeriodicTable/PeriodicTable/Report/Rdl/CellContents.cs
 PeriodicTable/PeriodicTable/Report/Rdl/CollectionOf.cs
 PeriodicTable/PeriodicTable/Report/Rdl/DataSet.cs
 PeriodicTable/PeriodicTable/Report/Rdl/DataSets.cs
 PeriodicTable/PeriodicTable/Report/Rdl/DataSources.cs
 PeriodicTable/PeriodicTable/Report/Rdl/EmbeddedImage.cs
 PeriodicTable/PeriodicTable/Report/Rdl/EmbeddedImages.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Expression.cs
 PeriodicTable/PeriodicTable/Report/Rdl/FontWeight.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Group.cs
 PeriodicTable/PeriodicTable/Report/Rdl/GroupExpression.cs
 PeriodicTable/PeriodicTable/Report/Rdl/GroupExpressions.cs
 PeriodicTable/PeriodicTable/Report/Rdl/IElement.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Inch.cs
 PeriodicTable/PeriodicTable/Report/Rdl/LeftBorder.cs
 PeriodicTable/PeriodicTable/Report/Rdl/MarkupType.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Page.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Paragraph.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Paragraphs.cs
 PeriodicTable/PeriodicTable/Report/Rdl/ParentOf.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Point.cs
 PeriodicTable/PeriodicTable/Report/Rdl/RdlColor.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Rectangle.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Report.cs
 PeriodicTable/PeriodicTable/Report/Rdl/ReportItem.cs
 PeriodicTable/PeriodicTable/Report/Rdl/ReportItems.cs
 PeriodicTable/PeriodicTable/Report/Rdl/ReportItemsContainer.cs
 PeriodicTable/PeriodicTable/Report/Rdl/ReportSection.cs
 PeriodicTable/PeriodicTable/Report/Rdl/ReportSections.cs
 PeriodicTable/PeriodicTable/Report/Rdl/RightBorder.cs
 PeriodicTable/PeriodicTable/Report/Rdl/SortExpression.cs
 PeriodicTable/PeriodicTable/Report/Rdl/SortExpressions.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Source.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Style.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Tablix.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixBody.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixCell.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixCells.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixColumn.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixColumnHierarchy.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixColumns.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixCorner.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixCornerCell.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixCornerRow.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixCornerRows.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixHeader.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixMember.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixMembers.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixRow.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixRowHierarchy.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TablixRows.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TextAlign.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TextRun.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TextRuns.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Textbox.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TextboxStyle.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TopBorder.cs
 PeriodicTable/PeriodicTable/Report/Rdl/TypeExtension.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Value.cs
 PeriodicTable/PeriodicTable/Report/Rdl/VerticalAlign.cs
 PeriodicTable/PeriodicTable/Report/Rdl/Width.cs
 PeriodicTable/PeriodicTable/ReportGenerator.cs
 PeriodicTable/PeriodicTable/Resources/